<div class="home-hero container">
  <div class="bg-hero" style="background-image: url(https://static-cdn.jtvnw.net/jtv_user_pictures/team-lokthar-background_image-ad9b407625a84005ba4f2e40961e7956.jpeg);"></div>
  <div class="row">
    <div class="col-6">
      <a href="/rewards">
        <h1>Sumá puntos, Obtén recompensas</h1>
        <p class="lead">Participa de la comunidad en discord y en twitch, suma puntos y cambialos por recompensas de nuestros partners.</p>
      </a>
    </div>
    <div class="col-4 position-relative">
      <p class="perspective position-absolute btn-position">
        <a class="btn btnd" href="/rewards">Mas informacion</a>
      </p>
    </div>
  </div>
</div>
<div class="home-container">
  <div class="grid-padding">
    <div class="grid">
      <div class="item grid-item-1">
        <div class="dummy-box">
          <%= link_to "#" do %>
          <div class="box-layer" style="background-image: url(https://i.imgur.com/1Lbjx1P.png); z-index: 1;"></div>
          <div class="box-layer" style="background-image: url(https://i.imgur.com/v14kMjY.png); z-index: 2;opacity: 0.5;transform: scale(0.8);"></div>
          <% end %>
        </div>
      </div>

      <div class="item grid-item-2">
        <a href="#">
        <div class="dummy-box">
          <div class="box-layer" style="background-image: url(https://i.imgur.com/bV3VmE2.png); z-index: 1;"></div>
          <div class="box-layer" style="background-image: url(https://i.imgur.com/R95CFvm.png); z-index: 2;opacity: 0.7;transform: scale(0.8);"></div>
        </div>
        </a>
      </div>

      <div class="item grid-item-3">
        <div class="dummy-box">
          <div class="box-layer" style="background: url(https://i.imgur.com/bcRd0LM.png);background-size: cover; z-index: 1;"></div>
          <div class="box-layer" style="background-image: url(https://i.imgur.com/Ydwxm0K.png); z-index: 2;opacity: 0.7;transform: scale(0.8);"></div>
        </div>
      </div>

      <div class="item">
        <div class="dummy-box">
          <div class="box-layer" style="background-image: url(https://i.imgur.com/FVMXfYY.png);;background-size: cover; z-index: 1;"></div>
          <div class="box-layer" style="background-image: url(https://i.imgur.com/ttIVLd8.png); z-index: 2;opacity: 0.7;transform: scale(0.8);"></div>
        </div>
      </div>

      <div class="item">
        <div class="dummy-box">
          <a href="/albums">
            <div class="box-layer" style="background-image: url(https://i.imgur.com/35h8o3J.png);;background-size: cover; z-index: 1;"></div>
            <div class="box-layer" style="background-image: url(https://i.imgur.com/bEY1UXE.png); z-index: 2;opacity: 0.7;transform: scale(0.8);"></div>
          </a>
        </div>
      </div>

      
      <div class="item">
        <div class="dummy-box">
          <a href="https://twitch.tv/team/lokthar">
            <div class="box-layer" style="background-image: url(https://i.imgur.com/BI3n3q7.png);;background-size: cover; z-index: 1;"></div>
            <div class="box-layer" style="background-image: url(https://i.imgur.com/oLl5nV8.png); z-index: 2;opacity: 0.7;transform: scale(0.8);"></div>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="dummy-box">
          <a href="https://discord.gg/PFkD6tB">
            <div class="box-layer" style="background-image: url(https://i.imgur.com/I8642yf.png);;background-size: cover; z-index: 1;"></div>
            <div class="box-layer" style="background-image: url(https://i.imgur.com/XazC3hA.png); z-index: 2;opacity: 0.7;transform: scale(0.8);"></div>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="dummy-box"></div>
      </div>
      <div class="item">
        <div class="dummy-box"></div>
      </div>
      

    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-container">
    <div class="footer-links">
      <a class="footer-link-item">ToS</a>
      <a class="footer-link-item">Recruitment</a>
      <a class="footer-link-item">VIP Club</a>
      <a class="footer-link-item"><i class="fab fa-discord"></i></a>
      <a class="footer-link-item"><i class="fab fa-twitch"></i></a>
      <a class="footer-link-item"><i class="fab fa-twitter"></i></a>
      <a class="footer-link-item"><i class="fab fa-telegram-plane"></i></a>
      <div class="footer-green">
        <i class="fas fa-lock"></i> 256-bit encryption
      </div>
    </div>
    <div class="footer-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
</div>
