<div class="container">
  <h2>New Album</h2>
  <div class="d-flex flex-row-reverse">
    <div class="p-2"><a href="/admin/albums" class="btn btn-secondary">Volver atras</a></div>
  </div>

  <%= render 'form' %>
</div>