<% content_for(:layout_body_css) {'l--reclutamiento'} %>
<% content_for :header_js do %>
  <%= javascript_pack_tag 'onboarding', defer: true %>
<% end %>

<div style="
background-repeat: no-repeat;
background: url(https://i.imgur.com/OwwFifB.png);
background-size: cover;
background-position-x: center;" class="top-image"></div>
<div class="c--panel">
  <div class="panel">
    <div class="container">
      <h1>Reclutamiento</h1>
      <hr>
      <div class="row">
        <div class="col-sm">
          <h2>Quienes somos</h2>
          <p>Are you a streamer, video host, wiki author, writer, artist, fan site admin, guild leader, or gaming mentor eager to contribute to the New World community?</p>
          <p>We are excited to offer the New World Creator Program!</p>
          <p>This program is designed to empower you to collaborate with the New World team and other creative members of the community. The program is designed to ensure you have the opportunities, access, and tools to do your best work.</p>
          <p>The program will officially launch before Closed Beta in 2021. Signing up now will help let us know that you wish to be included.</p>

          <h2>Como podemos ayudarte</h2>
          <p>Signing up for the Creator Program is a great way to let us know you’re interested in working with us to make your New World content even better!</p>
          <p>As a member of the Creator Program you could have access to a variety of benefits, including:</p>
          <ul>
            <li>Early access to future content</li>
            <li>Giveaway codes</li>
            <li>Exclusive partner swag</li>
            <li>Social media promotion</li>
            <li>Access to special events</li>
            <li>Direct communication with the development team</li>
            <li>And much more!</li>
          </ul>
        </div>
        <div class="col-sm">
          <h2>Que ofrecemos</h2>
          <div class="card mb-3 bg-transparent" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-2 pt-2">
                <img src="https://images.ctfassets.net/j95d1p8hsuun/1Z2ttWbGTYkdlgTDYeIlKt/e6a567577f1619055aa2bf93155515dc/NW-star-96x.png">
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title">PASSIONATE</h5>
                  <p class="card-text">You are passionate about your craft, content, or helping others.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3 bg-transparent" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-2 pt-2">
                <img src="https://images.ctfassets.net/j95d1p8hsuun/4m8fuVtvXMRGHgV2O6OOpV/7a57e8c7d7b6dcf991b0b55c6e722627/NW-coins-96x.png">
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title">PRODUCTIVE</h5>
                  <p class="card-text">You are actively creating content, activities, or resources for your community.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 bg-transparent" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-2 pt-2">
                <img src="https://images.ctfassets.net/j95d1p8hsuun/4S4IZ2TrYkkXNS87XnCcqV/7bfb00778fbf18e7ac53052ba0045dba/NW-compass-96x.png">
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title">ENGAGING</h5>
                  <p class="card-text">You are present, communicative, and eager to form relationships in the New World community.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 bg-transparent" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-2 pt-2">
                <img src="https://images.ctfassets.net/j95d1p8hsuun/4YU9uUEGhdZfzXarU36w26/3fff7061a28af883b613ebc1eebf3531/NW-skull-96x.png">
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title">RESPECTFUL</h5>
                  <p class="card-text">You care about others and you don’t feed negativity or toxicity. You always play by the rules and you don’t cheat or support cheating behavior.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- row -->
      <div class="d-flex justify-content-center">
        <div class="btn btn-primary btn-lg">Unirme</div>
      </div>
      
    </div>
  </div>
</div>
