.small-nav {
	height: 30px;
  background: #232546;
  align-items: center;
  flex-shrink: 0;
  padding-left: 15px;
  padding-right: 24px;
  justify-content: center;

  .small-nav-text {
    flex: 1;
    display: flex;
    overflow: hidden;
    justify-content: flex-end;
    font-size: 13px;
    align-items: center;
    white-space: nowrap;
    line-height: 30px;
    font-weight: 700;

    p { color: white; }
    b { color: #e6be4b; }
  }
  .small-nav-container {
    width: 100%;
    margin: 0 auto;
  }
}

.navbar {
  // background: #2f3258;
  .nav-container {
    background: #000;
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar-brand {
    color: #ddb43f;
  }

  .btn {
    color: #3d3d3d;
    font-weight: bold;
    font-size: 13px;
  }

  .btn-primary {
    background: rgb(235, 203, 111);
    border: 0;
  }

  .btn-outline-secondary {
    color: rgb(235, 203, 111);
    border-color: rgb(235, 203, 111);
  }
}

.c--navbar {
  padding: 0 15px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;

  ul {margin-bottom: 0px;}

  a {
    color: white;
    text-decoration: none;
    &:focus {
      outline: none;
    }
  }
  .menu,
  .submenu {
    z-index: 100;
    list-style-type: none;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .submenu {
    text-align: left;
    min-width: 180px;
  }
  .logo {
    font-size: 20px;
    padding: 0px 10px;
  }
  .avatar {
    width: 29px;
    height: 29px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
  }
  .item {
    padding: 0 10px;
    text-transform: uppercase;
  }
  .item.button {
    padding: 0px 5px;
  }
  .item:not(.button) a:hover,
  .item a:hover::after {
    color: #ccc;
  }
  .item-account {
    font-weight: bold;
    svg {
      margin-right: -2px;
      margin-left: 11px;
    }

    
  }
  .item-account.submenu-active {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .menu li a {
    display: block;
    padding: 0px 5px;
  }
  .menu li.subitem a {
    padding: 15px;
  }
  .toggle {
    order: 1;
    font-size: 20px;
  }
  .item.button {
    order: 2;
  }
  .item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
  }
  .active .item {
    display: block;
  }
  .button.secondary {
    /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
  }
  /* Submenu up from mobile screens */
  .submenu {
    display: none;
  }
  .submenu-active .submenu {
    padding: 2px 10px;
    display: block;
  }
  .has-submenu i {
    font-size: 12px;
  }
  .subitem a {
    padding: 10px 15px;
  }
  .submenu-active {
    background-color: #111;
    border-radius: 3px;
    padding-bottom: 11px;
    padding-top: 7px;
  }

  /* Tablet menu */
  @media all and (min-width: 700px) {
    .item.button {
      width: auto;
      order: 1;
      display: block;
    }
    .toggle {
      flex: 0.1;
      text-align: right;
      order: 2;
    }
    /* Button up from tablet screen */
    .menu li.button a {
      padding: 10px 15px;
      margin: 5px 0;
    }
    .menu li.button .btn {
      padding: 5px 15px;
    }
    .btn-primary {
      background: #0080ff;
      border: 1px royalblue solid; 
    }
    .btn-secondary {
      background: #3f3e40;
      border: 1px #261933 solid;
    }
    .button.secondary {
      border: 0;
    }
    .button.secondary a {
      background: transparent;
      border: 1px #0080ff solid;
    }
    .button a:hover {
      text-decoration: none;
    }
    .button:not(.secondary) a:hover {
      background: royalblue;
      border-color: darkblue;
    }
  }
  /* Desktop menu */
  @media all and (min-width: 960px) {
    .menu {
      flex-wrap: nowrap;
      background: none;
    }
    .logo {
      order: 0;
    }
    .item {
      order: 1;
      position: relative;
      display: block;
      width: auto;
    }
    .button {
      order: 2;
    }
    .submenu-active .submenu {
      display: block;
      position: absolute;
      right: 0;
      top: 34px;
      background: #111;
    }
    .toggle {
      display: none;
    }
    .submenu-active {
      border-radius: 0;
    }
  }
}
